.bookWrapper {
    display: flex;
    max-width: 1280px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid gray;
    width: 100%;
}

.bookPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    position: relative;
    padding-bottom: 15px;
}

.goBackButton {
    margin-top: 15px;
}

@media screen and (max-width: 1240px) {
    .bookWrapper {
        flex-direction: column;
    }

    .bookPage {
        max-width: 768px;
        margin: 0 auto;
    }
}