.booksWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.totalBooks {
    text-align: center;
}

.loadMoreWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}